<section class="p-2 m-2">

<div class="gris grid-cols-3 gap-4 flex flex-row m-2 ">
    <div class="border-2 border-gray-400 p-2 m-2 rounded w-full bg-white  ">
        
 
        <span class="text-xl font-bold text-blue-400 uppercase flex justify-center p-2">Today Sale</span>
        <span class="text-l font-bold text-black uppercase flex justify-center" >Rs. 5000</span>

    </div >

    <div  class="border-2 border-gray-400 p-2 m-2 rounded w-full bg-white">
        <span class="text-xl font-bold text-blue-400 uppercase flex justify-center p-2">Top Selling Product</span>
        <span class="text-l font-bold text-black uppercase flex justify-center" >Detol Soap</span>

    </div>

    <div  class="border-2 border-gray-400 p-2 m-2  rounded w-full bg-white">
        <span class="text-xl font-bold text-blue-400 uppercase flex justify-center p-2">Items Types In Inventory</span>
        <span class="text-l font-bold text-black uppercase flex justify-center" >30</span>

    </div>

</div>    

</section>

    

<section class="p-2 m-2">

    <div class="gris grid-cols-3 gap-4 flex flex-row m-2 ">
        <div class="border-2 border-gray-400 p-2 m-2 rounded w-full bg-white  ">
            
     
            <div echarts [options]="chartOption" class="demo-chart"></div>
    
        </div >
    
        <div  class="border-2 border-gray-400 p-2 m-2 rounded w-full bg-white">
            <div echarts [options]="chartOption" class="demo-chart"></div>

    
        </div>
    
        <div  class="border-2 border-gray-400 p-2 m-2  rounded w-full bg-white">
            <div echarts [options]="chartOption" class="demo-chart"></div>

    
        </div>
    
    </div>  

    
</section>




<section>
    
</section>





